.container{
    display: flex;
    height: 100%;
    align-items: center;

    justify-content: center;
}
.img_container{
    width: 120px;
    background-color: #610094;
}
.container_titles{
    cursor: pointer;
    width: 170px;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.sub_container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.line{
    width: 3px;
    height: 30px;
    background-color: #610094;
}
