.container {
  width: 100vw;
  height: 7vh;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.nabvar_container {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}
.link_container{
  display: flex;
  font-weight: bold;
  align-items: center;
  width: 30vw;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
 
  
}
.background{
  width: 30%;
  height: 20%;
  background-color: #610094;
}
.selected{
  background-color: #610094;
  padding: 20px;
  clip-path: polygon(0px 0px, 0px calc(100% - 45px), calc(50% - 50%) calc(100% - 20px), 50% 97%, calc(50% + 50%) calc(100% - 20px), 100% calc(100% - 20px), 100% 0px);
}
a {
  color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}
