.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin: 30px;
    background-color: #673ab7;
    color: white;
    border: solid 0px;
    height: 40px;
    width: 160px;
    border-radius: 10px;
    cursor: pointer;
}
.button:active{
    background-color: #4505b3;
}